@tailwind base;
@tailwind components;
@tailwind utilities;

/* Harita kapsayıcısı için yükseklik ayarı */
.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 0;
}

body {
  margin: 0;
  background-color: #202020;
}